body {
    margin: 0;
    /* overflow: hidden; */
    background-color: black;
  }
  
.threejs {
    width: 100%;
    height: 500px;
    background: #111;
    display: block;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

h1 {
    font-size: 5rem;
    color: deeppink;
    border-bottom: 2px solid rgb(234, 0, 128);
    border-right: 2px solid rgb(234, 0, 128);
    width: 600px;
}

p {
    font-size: 3rem;
    color: antiquewhite;
}

.page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;
}

.block {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.block .dscrpt {
    font-size: 1.2rem;
    line-height: 1.3;
    word-wrap: break-word;
    margin-top: 12px;
}

/*.content {
    max-width: 300px;
}*/

img {
    width: 200px;
    height: 226px;
    border-radius: 10%;
}

@media (max-width: 640px) {
    .wrapper {
        flex-direction: column;
        /* align-items: stretch; */
    }
    
}