body {
    margin: 0;
    overflow: hidden;
  }
  
.threejs {
    width: 100%;
    height: 500px;
    background: #111;
    display: block;
}

h1 {
    font-size: 4rem;
    color: deeppink;
}

p {
    font-size: 2rem;
}


.page {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.content {
    max-width: 300px;
}