body {
    margin: 0;
    overflow: hidden;
  }
  
.threejs {
    width: 100%;
    height: 500px;
    background: #111;
    display: block;
}

h1 {
    font-size: 5rem;
    color: deeppink;
    border-bottom: 2px solid EA0080;
    border-right: 2px solid EA0080;
}

p {
    font-size: 3rem;
}


.page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.content {
    max-width: 300px;
}